body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/** Header section **/

span {
    transform: translateY(5px);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffe240;
    color: rgb(0, 0, 0);
    padding: 10px 10%;
    font-family: 'Roboto', sans-serif;
    align-items: center;

}

.header h3 {

    font-family: 'Quantico', sans-serif;
    font-style: italic;
    font-size: 22px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    font-family: 'Quantico', sans-serif;
    font-style: italic;
    font-weight: bold;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    
}

a:hover {
    color: rgb(143, 203, 255);
}

/** Hero Section **/

.middle-section {
    display: flex;
    flex-direction: column;
    flex:1;
    font-family: 'Roboto', sans-serif;
    
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 10% 10%;
    background-color: #ffe240;
    color: white;
    gap: 25px;


}

.hero-txt{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
}

.hero-txt button {
    max-width: 40%;
    min-width: 80px;
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    background-color: #5e6effb4;
    border: 2px solid black;
    color:#bdc5ff;
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    box-shadow: 2px 2px 5px black;
}

.hero-txt h1 {
    font-size: 48px;
    color: #000000;
    font-family: 'Quantico', sans-serif;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.hero-txt p {
    font-size: 18px;
    color: #111111;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.hero-txt h1, p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hero-txt a {
    color: #000000;
}
.hero-txt a:hover {
    color: #f0f0f0;
}
.hero-img {
    display: flex;
    margin: auto;
    min-width: 150px;
    margin-right: 0%;
}
.hero-img img {
    max-width: 450px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 5px;
    box-shadow: 3px 3px 5px black;
}


/** info section **/

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 7% 10%;
    gap: 20px;
    row-gap: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: #374bffb4;
}

.info h2 {
    font-size: 40px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
    font-style: italic;
    color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    margin: 2%

}

.info p {
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
}

.card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    max-width: 12%;
    min-width: 120px;
    text-align: center;
    font-weight: 400;
}

.card img {
    border: 4px solid #f3e51e;
    border-radius: 7px;
    box-shadow: 2px 2px 5px black;
}


/** quote section **/

.quote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 0 1 auto;
    font-size: 36px;
    font-style: italic;
    background-color: #b7d4ff;
    color: #1f2937;
    padding: 80px 30%;
}

.quote h2 {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 36px;
    font-weight: 200;
    color: #1a1f55da
}

.quote p {
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #151d66b4;
}

/** cta section **/

.cta-container {
    padding: 100px 10%;
    background-color: #0045ac;

}

.cta {
    display: flex;
    background-color: #5e6effb4;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 30px 50px;
    font-size: 18px;
    gap: 40px;
    box-shadow: 2px 2px 8px black;
}

.cta-txt {
    color: #bdc5ff;
    max-width: 500px;
    margin-right: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.cta-btn button {
    display: flex;
    flex: 1 0 auto;
    padding: 0px 0px;
    color: #e5e7eb;
    background-color: #ffe96b;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 1px 1px 3px black;
}

.cta-btn button:hover {
    border: 3px solid #1f2937;
}
.cta-btn a {
    font-size: 20px;
    padding: 10px 25px;
}

.cta-btn a:hover {
    color: #1f2937;
}


/** footer section **/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #ffe240;
    color: #000000;
    font-size: 20px;
}


/** media queries **/
@media screen and (max-width: 600px){
    .header a {
        font-size: 10px;
    }
    .header h3 {
        font-size: 15px;
    }
    .hero-txt h1 {
        font-size: 15px;
        color: #000000;
        -webkit-text-stroke-width: 0px;
    }
    .hero-txt p {
        font-size: 12px;
    }
    .hero-section button {
        padding-left: 0px;
        padding-right: 0px;
    }
    .hero-section a {
        font-size: 10px;
    }
    .info h2 {
        font-size: 30px;
        color: #fff5bb;
        -webkit-text-stroke-width: 1px;
    }
    .card p {
        font-size: 13px;
    }
    .quote {
        padding-left: 10%;
        padding-right: 10%;
    }
    .quote h2 {
        font-size: 24px;
    }
    .quote p {
        font-size: 15px;
    }
    .cta h3 {
        font-size: 17px;
    }
    .cta p {
        font-size: 12px;
    }
    .cta-btn a {
        font-size: 14px;
    }
}